/* Importing Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* General styles */
body {
    background-color: #f5f5dc; 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
  
.container {
    max-width: 1200px;
    margin: auto;
}
  
.header {
    background-color: #34a0a4; 
    color: #d9ed92; 
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
  
.header .title {
    margin: 0;
}
  
.header h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}
  
.header h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}
  
.header .shopping {
    margin-left: auto;
}
  
.header .shopping img {
    width: 30px; 
    cursor: pointer;
    margin-right: 10px;
}
  
.header .shopping .quantity {
    background: #d9ed92; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #34a0a4; 
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin-top: 20px;
}
  
.list .item {
    background-color: #c5e1a5; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
  
.list .item:hover {
    transform: translateY(-5px);
}
  
.list .item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}
  
.list .item:hover img {
    transform: scale(1.1);
}
  
.list .item .title {
    font-weight: 600;
    margin-top: 10px;
    color: #34a0a4; 
    font-size: 1.2rem;
}
  
.list .item .description {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}
  
.list .item .price {
    margin: 10px 0;
    color: #184e77; 
    font-size: 1.2rem;
    font-weight: bold; 
}
  
.list .item button {
    background-color: #168aad; 
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    transition: background-color 0.3s ease;
    font-size: 1rem;
}
  
.list .item button:hover {
    background-color: #c59c19;
}

.card {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    background-color: #1a759f; 
    height: 100vh;
    transition: right 0.5s ease;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    border-left: 5px solid #d9ed92; 
}
  
.active .card {
    right: 0;
}
  
.card h1 {
    color: #d9ed92; 
    font-weight: 300;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 2rem;
    text-transform: uppercase;
}
  
.card .checkOut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
  
.card .checkOut div {
    background-color: #d9ed92; /* Bright yellow */
    color: #2e7d32; /* Dark green */
    width: 48%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}
  
.card .checkOut div:nth-child(2) {
    background-color: #1c1f25; /* Dark grey */
    color: #fff;
}
  
.listCard {
    list-style-type: none;
    padding: 0;
}
  
.listCard li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd; /* Light grey border */
    padding: 10px 0;
}
  
.listCard li:last-child {
    border-bottom: none;
}
  
.listCard li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
  
.listCard li .details {
    flex: 1;
    margin-left: 10px;
}
  
.listCard li .details .name {
    font-weight: 600;
    color: #2e7d32; /* Dark green */
    font-size: 1.2rem;
}
  
.listCard li .details .quantity {
    color: #2e7d32; 
    font-size: 0.9rem;
}
  
.listCard li .price {
    color: #1e6091; 
    font-size: 1.2rem;
    font-weight: bold;
}
  
.listCard li button {
    background-color: transparent;
    border: 1px solid #d9ed92; /* Bright yellow */
    color: #d9ed92; /* Bright yellow */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 0.9rem;
}
  
.listCard li button:hover {
    background-color: #d9ed92; /* Bright yellow */
    color: #1a759f; /* Dark green */
}
  
.listCard .count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9ed92; /* Bright yellow */
    color: #2e7d32; /* Dark green */
    padding: 0 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}
  

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
    .list {
        grid-template-columns: repeat(2, 1fr); 
    }
}
  
@media (max-width: 768px) {
    .list {
        grid-template-columns: 1fr; 
    }
}
